<main class="container-fluid my-4">
  <h1 class="fs-2">Listagem de Notas</h1>

  <section
    aria-label="Opções"
    class="row justify-content-center justify-content-lg-start g-1"
  >
    <a
      mat-flat-button
      class="col-md-6 col-lg-4 col-xxl-2 fs-6 py-4"
      [routerLink]="['/notas', 'cadastrar']"
    >
      <mat-icon>bookmark_add</mat-icon>
      Cadastrar
    </a>
  </section>

  <hr />

  <div *ngIf="notas$ | async as itens" class="row g-3 mt-2">
    <div *ngFor="let item of itens" class="col-lg-4">
      <mat-card class="mat-mdc-elevation-specific mat-elevation-z5 h-100">
        <mat-card-header class="d-flex justify-content-between">
          <mat-card-title class="titulo-card">{{ item.titulo }}</mat-card-title>

          <span>{{ item.categoria.titulo }}</span>
        </mat-card-header>

        <mat-card-content class="mt-4">
          <p>{{ item.conteudo }}</p>
        </mat-card-content>

        <mat-card-footer class="d-flex justify-content-end gap-2 p-2 mt-auto">
          <a
            mat-icon-button
            class="botao-editar"
            matTooltip="Editar {{ item.titulo }}"
            [routerLink]="['/notas', 'editar', item.id]"
          >
            <mat-icon>edit</mat-icon>
          </a>

          <a
            mat-icon-button
            class="botao-excluir"
            matTooltip="Excluir {{ item.titulo }}"
            [routerLink]="['/notas', 'excluir', item.id]"
          >
            <mat-icon>delete</mat-icon>
          </a>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</main>
